
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- // -->

<div class="container">

    <hr />
        <div class="text-center">
            
            <br />
                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a><i class="fa fa-linkedin fa-3x social"></i></a>

</div>
<div class="text-center">
  <p>Care & Cure Clinic,40, Sassoon Road,Pune – 411001,Maharashtra,India</p>
   <p>Email: info@careandcure.com</p>
    <p>Contact:020-66455507</p>
     <p></p>
<i class="fa fa-copyright">2019 Copyright Care&Cure.org</i>
</div>
    <hr>
</div>