

  <p>Started in 1959, Care & Cure Clinic has become a hallmark of quality care services in Pune, Maharashtra. Our 750 bedded hospital boasts of a robust infrastructure that houses multiple departments, and the latest technologies used in healthcare delivery and medical procedures. All of these are manned by a team of 300 consultants, 650-panel doctors, 1500 paramedical staff – committed to your care and wellbeing.</p>

<p> Care & Cure Clinic is Pune’s first nationally accredited multi-speciality hospital with an international repute among patients with its empathetic and effective medical care services. It started as a nursing home with just two beds in 1959, under the steward leadership of Dr. K.B. Grant, and is now counted amongst one of the premier hospitals in India.</p>

<p>Our state-of-the-art equipment and modern facilities make us unique among equals. The hospital provides a wide range of medical facilities that include Cardiology, Cardiac Surgery, Neurology, Nuclear Science Center, Diagnostic Center, Intensive Care Units, a Blood Bank, Cancer Unit among many others.</p>

<p>Delivery of patient-centric services with precision and dedication has helped  Care & Cure Clinic to win many laurels in the industry. Recently, it has been recognised as ‘The Best Indian Hospital for Medical Tourism’ by the Ministry of Tourism.</p>

<p>With the mission to assist as many patients as possible, it has now expanded its operations by starting many other hospitals in the territory of Pune. It is accredited with the National Accreditation Board for Hospitals & Healthcare Providers (NABH).</p>

<app-footer></app-footer>