<form  #registerForm="ngForm" class="form" *ngIf="!isSubmitted">

  <mat-form-field>
    <input matInput #userName [(ngModel)]="name" name="name"
    placeholder='Please enter your name' required>
  </mat-form-field>

  <mat-form-field>
    <input matInput #userPassword [(ngModel)]="password" name="password"
    placeholder='Please enter your password' required>
  </mat-form-field>

  
<button mat-stroked-button 
(click)="onRegister(); registerForm.reset()"
color="primary" [disabled]="!registerForm.valid">Register</button>
</form>
  <h2 *ngIf="isSubmitted">You have registered successfully!</h2>

  <app-footer></app-footer>



